@font-face {
    font-family: 'CallunaSansBold';
    src: url('CallunaSans-Bold.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'CallunaSansRegular';
    src: url('CallunaSans-Regular.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'Paralex Bold';
    src: url('Paralex Bold.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'Musica';
    src: url('Musica.woff') format('woff');
    font-style: normal;
}